/*.container {
  position: relative;
  text-align: center;
  color: white;  
}

.square {
  width: 30%;
  height: 27%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #0F0F0F;
}
*/

.change-svg-color {
  z-index: -1 !important;
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(86deg)
    brightness(118%) contrast(119%);  
}

.font-handmade {
  font-family: 'Just Breathe', sans-serif !important;
}

.font-arrows {
  font-family: 'KG Arrows', sans-serif !important;
}

.change-svg-color-v2 {
  z-index: -1 !important;
  filter: invert(100%) sepia(70%) saturate(70%) hue-rotate(86deg)
    brightness(90%) contrast(119%);  
}

.selected-logo:hover {
  z-index: -1 !important;
  opacity: 60%;
  cursor: pointer;  
}

.color-span {  
  background: linear-gradient( 
    98.83deg,
    #ff7c01 7.13%,
    #ff007b 48.99%,
    #a819eb 84.14%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index:-1
}
